
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 160px;
}




label {
  margin-bottom: 10px;
}


select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}


label:nth-of-type(5) {
  margin-top: 10px;
  margin-bottom: 20px;
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}


label:last-of-type {
  margin-top: 10px;
}
